---
import { getLangFromUrl, useTranslation, translatedPathFor } from "@/i18n";
import LanguagePicker from "@/i18n/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<div
  id="footer"
  class="z-10 flex lg:flex-row flex-col justify-between items-center gap-5 px-5 lg:px-28 py-10 border-white/50 border-t-1 w-full"
>
  <div class="flex justify-center items-center gap-6 text-white">
    <p class="text-sm">Copyright © OM SMART {new Date().getFullYear()}</p>
  </div>
  <div class="flex justify-center animate-bounce duration-1000">
    <a href="/#hero" class="px-0.5 py-4 border-[1.8px] border-white rounded-full">
      <img
        src="/icons/arrow.svg"
        alt="arrow"
        class="w-8 h-auto object-contain"
      />
    </a>
  </div>
  <a
    href="blog/"
    class="group relative flex flex-row justify-center items-center gap-4 p-2 pl-4 border border-white/25 rounded-full overflow-hidden font-semibold text-cyan-400 hover:text-white transition-colors duration-150 duration-500"
    >{i18n.NAVBAR.INFORMATION}
    <span
      class="bg-gradient-to-r from-[var(--color-title)] group-hover:from-white to-[var(--color-blue)] group-hover:to-white px-4 py-1 rounded-full transition-all duration-1000"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="fill-white group-hover:fill-[var(--color-blue)] h-5.5 rotate-90 transition-all duration-300 pointer-events-none"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
        ></path>
      </svg>
      <span
        class="top-0 left-0 -z-10 absolute bg-gradient-to-l from-[var(--color-title)] to-[var(--color-blue)] w-0 group-hover:w-full h-full transition-all duration-400"
      ></span>
    </span>
  </a>
  <div class="flex flex-row justify-end items-center gap-6">
    <p class="font-light text-white text-sm">{i18n.HERO.FOOTER_RIGHT_TEXT}</p>
    <div class="flex items-center gap-3">
      {
        i18n.NETWORKS.map((item) => (
          <a href={item.HREF} class="hover:scale-110 transition-all">
            <img src={item.IMG} alt={item.TITLE} class="w-auto h-10" />
          </a>
        ))
      }
    </div>
  </div>
</div>
