---
import "../styles/nuevo.css";
import { getLangFromUrl, useTranslation, translatedPathFor } from "@/i18n";
const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---
<div id="somos" class="bg-black px-4 md:px-8 py-16 text-white">
    <div class="items-start gap-16 grid md:grid-cols-2 mx-auto max-w-7xl">
      
      <!-- Left Column: Misi贸n & Visi贸n -->
      <div class="flex flex-col justify-center items-center gap-12">
        <!-- Misi贸n -->
        <div>
          <div class="flex items-center gap-4 mb-4">
            <img src="/imagenes/somos3.png" alt={i18n.INFORMATION.MISSION_TITLE} class="w-10 h-10"/>
            <h2 class="text-[var(--color-title)] text-3xl">{i18n.INFORMATION.MISSION_TITLE}</h2>
          </div>
          <p class="text-lg">
            {i18n.INFORMATION.MISSION_TEXT}
          </p>
        </div>
        
        <!-- Visi贸n -->
        <div>
          <div class="flex items-center gap-4 mb-4">
            <img src="/imagenes/somos2.png" alt={i18n.INFORMATION.VISION_TITLE} class="w-10 h-10"/>
            <h2 class="text-[var(--color-title)] text-3xl">{i18n.INFORMATION.VISION_TITLE}</h2>
          </div>
          <p class="text-lg">
            {i18n.INFORMATION.VISION_TEXT}
          </p>
        </div>
      </div>
      
      <!-- Right Column: Valores -->
      <div class="flex justify-center items-center md:pl-12 md:border-white/25 md:border-l">
        <div>
          <div class="flex items-center gap-4 mb-4">
            <img src="/imagenes/somos1.png" alt={i18n.INFORMATION.VALUES_TITLE} class="w-10 h-10"/>
            <h2 class="text-[var(--color-title)] text-3xl">{i18n.INFORMATION.VALUES_TITLE}</h2>
          </div>
          <ul class="space-y-4 text-lg">
            {i18n.INFORMATION.VALUES_LIST.map(value => (
              <li class="flex items-center gap-3"><span class="rounded-full w-3 h-3" style="background-color: var(--color-title);"></span>{value}</li>
            ))}
          </ul>
        </div>
      </div>
  
    </div>
  </div>