---
import { getLangFromUrl, useTranslation, slugify } from "@/i18n";
import LanguagePicker from "@/i18n/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<header
  class="top-0 left-0 z-10 fixed flex justify-between items-center bg-black/5 backdrop-blur-sm px-4 sm:px-8 lg:px-28 py-6 border-white/25 border-b w-full backd"
>
  <!-- Logo -->
  <div class="z-50 flex justify-center items-center w-max h-17 object-contain">
    <a href={`/${lang}/`}>
      <img
        loading="lazy"
        src="/imagenes/logo.png"
        alt="Logo"
        class="w-28 lg:w-40 h-auto"
      />
    </a>
  </div>

  <!-- Desktop Navbar -->
  <nav
    class="hidden lg:flex justify-end items-center gap-6 h-11 font-semibold text-[18px] text-white"
  >
    <div class="group relative">
      <a
        href={`/${lang}/`}
        class="z-30 relative font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >
        {i18n.NAVBAR.SMART_ECOSYSTEM}
      </a>
      <div
        class="top-full left-0 z-20 absolute flex flex-col gap-2 bg-[#050647]/90 opacity-0 group-hover:opacity-100 shadow-[0_8px_20px_rgba(0,0,0,0.4)] p-[10px] rounded-[8px] min-w-[320px] transition-all -translate-y-[6px] group-hover:translate-y-0 duration-200 pointer-events-none group-hover:pointer-events-auto"
      >
        {
          i18n.AREAS.SMART_ECOSYSTEM_ITEMS.map((item) => (
            <a
              href={`/${lang}/${slugify(item.TITLE_TEXT)}`}
              class="block hover:bg-[var(--color-title)]/10 p-2 rounded-md hover:text-[var(--color-title)]"
            >
              <strong>{item.TITLE_TEXT}</strong>
              <span class="block font-medium text-gray-200 text-base">
                {item.SUBTITLE}
              </span>
            </a>
          ))
        }
      </div>
    </div>
    <a
      href="#somos"
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.ABOUT_US}</a
    >
    <a
      href="#contact"
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.CONTACT}</a
    >
    <a
      href="/blog"
      class="font-semibold hover:text-[var(--color-title)] transition-colors duration-500"
      >{i18n.NAVBAR.BLOG}</a
    >
    <LanguagePicker />
    <a
      href="/blog"
      class="group relative flex flex-row justify-center items-center gap-4 p-2 pl-4 border border-white/25 rounded-full overflow-hidden font-semibold text-[var(--color-title)] hover:text-white transition-colors duration-500"
    >
      {i18n.NAVBAR.INFORMATION}
      <span
        class="bg-gradient-to-r from-[var(--color-title)] group-hover:from-white to-[var(--color-blue)] group-hover:to-white px-4 py-1 rounded-full transition-all duration-1000"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="fill-white group-hover:fill-[var(--color-blue)] h-5.5 rotate-90 transition-all duration-300 pointer-events-none"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
          ></path>
        </svg>
        <span
          class="top-0 left-0 -z-10 absolute bg-gradient-to-l from-[var(--color-title)] to-[var(--color-blue)] w-0 group-hover:w-full h-full transition-all duration-400"
        ></span>
      </span>
    </a>
  </nav>

  <!-- Mobile Menu Button -->
  <div class="lg:hidden z-50">
    <button id="menu-toggle" class="text-white">
      <svg
        id="menu-open-icon"
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg
        id="menu-close-icon"
        class="hidden w-8 h-8"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="lg:hidden fixed inset-0 bg-[#050647]/95 opacity-0 backdrop-blur-sm w-full h-screen transition-opacity duration-300 ease-in-out pointer-events-none"
  >
    <nav
      class="flex flex-col justify-center items-center gap-6 pt-24 pb-10 h-full overflow-y-auto font-medium text-white text-lg"
    >
      <div class="group relative text-center">
        <a
          href={`/${lang}/`}
          class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
          >{i18n.NAVBAR.SMART_ECOSYSTEM}</a
        >
        <div class="flex flex-col gap-3 mt-3">
          {
            i18n.AREAS.SMART_ECOSYSTEM_ITEMS.map((item) => (
              <a
                href={`/${lang}/${slugify(item.TITLE_TEXT)}`}
                class="block p-1 rounded-md hover:text-[var(--color-title)] text-base"
              >
                {item.TITLE_TEXT}
              </a>
            ))
          }
        </div>
      </div>
      <a
        href="#somos"
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.ABOUT_US}</a
      >
      <a
        href="#contact"
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.CONTACT}</a
      >
      <a
        href="/blog"
        class="font-medium hover:text-[var(--color-title)] text-2xl transition-colors"
        >{i18n.NAVBAR.BLOG}</a
      >
      <LanguagePicker />
    </nav>
  </div>
</header>

<script is:inline>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const openIcon = document.getElementById("menu-open-icon");
  const closeIcon = document.getElementById("menu-close-icon");
  const body = document.querySelector("body");
  const navLinks = mobileMenu.querySelectorAll("a");

  const toggleMenu = () => {
    mobileMenu.classList.toggle("opacity-0");
    mobileMenu.classList.toggle("pointer-events-none");
    openIcon.classList.toggle("hidden");
    closeIcon.classList.toggle("hidden");
    body.classList.toggle("overflow-hidden");
  };

  menuToggle.addEventListener("click", toggleMenu);

  navLinks.forEach((link) => {
    link.addEventListener("click", () => {
      if (!mobileMenu.classList.contains("opacity-0")) {
        toggleMenu();
      }
    });
  });
</script>
